Repository DanielWilliamClarke/Cujo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-service, build-portfolio

added prerender flags
  portfolio/src/index.tsx
Due: build-portfolio

force platform for portfolio build
  scripts/build-portfolio.sh
Due: none

Added prerender client
  scripts/build-service.sh
  service/src/auth/redirect_client.rs
  service/src/main.rs
  service/src/prerender/mod.rs
  service/src/prerender/prerender_client.rs
  service/src/server/routes.rs
Due: build-service

adding env vars
  README.md
  prod.compose.yaml
Due: none

fixed recache request method
  service/src/prerender/prerender_client.rs
Due: build-service

update readme
  README.md
Due: none

masked error on prerender recache client simplified the route methods as a result
  service/src/prerender/prerender_client.rs
  service/src/server/routes.rs
Due: build-service

Update README.md
  README.md
Due: none

Updated experience field type to rich text refactored the CV to make it easier to lay out content
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Experience.tsx
  portfolio/src/components/cv/sections/Outro.tsx
  portfolio/src/components/profile/Experience.tsx
  portfolio/src/model/CVModel.ts
  service/src/cv/model.rs
Due: build-service, build-portfolio

rename file name
  portfolio/src/assets/icons/go-original-wordmark.png
Due: build-portfolio

Added graphql api to cujo service
  dev.compose.yaml
  service/Cargo.lock
  service/Cargo.toml
  service/contentful/Cargo.lock
  service/contentful/Cargo.toml
  service/contentful/src/models.rs
  service/src/blog/blog_reader.rs
  service/src/blog/mod.rs
  service/src/blog/model.rs
  service/src/cache/cache.rs
  service/src/cache/mod.rs
  service/src/cv/cv_reader.rs
  service/src/cv/mod.rs
  service/src/cv/model.rs
  service/src/graphql/mod.rs
  service/src/graphql/query.rs
  service/src/graphql/routes.rs
  service/src/graphql/schema.rs
  service/src/main.rs
  service/src/server/mod.rs
  service/src/server/routes.rs
Due: build-service

refactoring
  README.md
  service/src/blog/blog_reader.rs
  service/src/cache/cache.rs
  service/src/cv/cv_reader.rs
  service/src/cv/mod.rs
  service/src/cv/model.rs
  service/src/graphql/query.rs
  service/src/graphql/routes.rs
  service/src/graphql/schema.rs
  service/src/main.rs
  service/src/rest/mod.rs
  service/src/rest/routes.rs
  service/src/server/config.rs
Due: build-service

Addin stub graphql call
  portfolio/craco.config.js
  portfolio/package.json
  portfolio/src/global.d.ts
  portfolio/src/index.tsx
  portfolio/src/services/Cujo.gql
  portfolio/src/services/CujoService.ts
Due: build-portfolio

Update readme
  README.md
Due: none

now make graphql the main api for the frontend
  portfolio/src/index.tsx
  portfolio/src/services/Cujo.gql
Due: build-portfolio

removed blog and cv rest api endpoints
  service/src/rest/routes.rs
Due: build-service

trigger portfolio build
  portfolio/src/services/CujoService.ts
Due: build-portfolio

Path conditions:
  build-service: any of: service/.*
  build-portfolio: any of: portfolio/.*
