Repository DanielWilliamClarke/Cujo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-service, build-portfolio

update readme
  README.md
Due: none

fix docker compose for prod
  prod.compose.yaml
Due: none

added extra logging
  service/src/auth/auth0_client.rs
Due: build-service

removed user
  service/Dockerfile
Due: build-service

adding better logs
  service/src/auth/auth0_client.rs
Due: build-service

log the request for now
  service/src/server/routes.rs
Due: build-service

found that headers with _ in are dropped by nginx
  service/src/auth/auth0_client.rs
  service/src/server/routes.rs
Due: build-service

name redirect safer, now the service can only redirect back to itself, good to make sure we dont allow users to run abitrary requests
  prod.compose.yaml
  service/src/auth/mod.rs
  service/src/auth/redirect_client.rs
  service/src/main.rs
  service/src/server/routes.rs
Due: build-service

put redirect parameter into path instead of the headers
  service/src/main.rs
  service/src/server/routes.rs
Due: build-service

Update readme
  README.md
Due: none

dropped querytimes down to 10ms by serilizing the content on web hook instead of when the user requests it
  service/src/server/routes.rs
Due: build-service

unified cv and blog generation
  service/src/server/routes.rs
Due: build-service

Share panel now shares title and exerpt of blog post and my label for the portfolio
  README.md
  portfolio/src/App.tsx
  portfolio/src/components/Profile.tsx
  portfolio/src/components/blog/BlogPost.tsx
Due: build-portfolio

adding helmet to add meta to head for blog / portfolio
  portfolio/package.json
  portfolio/src/components/Profile.tsx
  portfolio/src/components/blog/BlogPost.tsx
  portfolio/src/components/nav/SharePanel.tsx
Due: build-portfolio

added prerender to nginx conf
  portfolio/nginx/nginx.conf
Due: build-portfolio

fix nginx
  portfolio/nginx/nginx.conf
Due: build-portfolio

fixed redirect scheme
  portfolio/nginx/nginx.conf
Due: build-portfolio

Path conditions:
  build-service: any of: service/.*
  build-portfolio: any of: portfolio/.*
