Repository DanielWilliamClarke/Cujo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-service, build-portfolio

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            service/.* build-service true
            portfolio/.* build-portfolio true
          config-path: .circleci/workflows.yaml

fixed routing for portfolio, blog and cv
  portfolio/src/App.tsx
Due: build-portfolio

add skils to cv centralised cv pdf so both preview and exporter can use it
  portfolio/src/App.tsx
  portfolio/src/assets/icons/SiSfml.png
  portfolio/src/assets/icons/cplusplus-plain.png
  portfolio/src/assets/icons/docker-plain.png
  portfolio/src/assets/icons/go-line.png
  portfolio/src/assets/icons/googlecloud-plain.png
  portfolio/src/assets/icons/react-plain.png
  portfolio/src/assets/icons/rust-plain.png
  portfolio/src/assets/icons/typescript-plain.png
  portfolio/src/components/cv/CVExport.tsx
  portfolio/src/components/cv/CVPreview.scss
  portfolio/src/components/cv/CVPreview.tsx
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Content.tsx
  portfolio/src/components/cv/sections/Heading.tsx
  portfolio/src/components/cv/sections/Intro.tsx
  portfolio/src/components/cv/sections/Skills.tsx
  portfolio/src/components/shared/Palette.scss
  portfolio/src/components/shared/style.module.scss
Due: build-portfolio

compressed skills
  portfolio/src/components/cv/sections/Content.tsx
  portfolio/src/components/cv/sections/Skills.tsx
Due: build-portfolio

fleshing out cv
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Education.tsx
  portfolio/src/components/cv/sections/Experience.tsx
  portfolio/src/components/cv/sections/Outro.tsx
  portfolio/src/components/cv/sections/Skills.tsx
Due: build-portfolio

added interests
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Experience.tsx
  portfolio/src/components/cv/sections/Interests.tsx
Due: build-portfolio

fix css
  portfolio/src/components/cv/sections/Interests.tsx
Due: build-portfolio

CV in place
  portfolio/src/App.tsx
  portfolio/src/components/cv/CVExport.tsx
  portfolio/src/components/cv/CVPreview.tsx
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Content.tsx
  portfolio/src/components/cv/sections/Interests.tsx
  portfolio/src/components/cv/sections/Outro.tsx
Due: build-portfolio

made skills bars rounded fixed experience image flip flipping
  portfolio/src/components/cv/sections/Experience.tsx
  portfolio/src/components/cv/sections/Skills.tsx
Due: build-portfolio

minor css changes to accomodate content
  portfolio/src/components/cv/sections/Experience.tsx
  portfolio/src/components/cv/sections/Outro.tsx
Due: build-portfolio

minor font size correction
  portfolio/src/components/cv/sections/Interests.tsx
Due: build-portfolio

fixed spacing for interests
  portfolio/src/components/cv/sections/CV.tsx
Due: build-portfolio

fix outro
  portfolio/src/components/cv/sections/Outro.tsx
Due: build-portfolio

cleaning up code, and removing duplication
  portfolio/src/components/cv/sections/Contact.tsx
  portfolio/src/components/cv/sections/Content.tsx
  portfolio/src/components/cv/sections/Education.tsx
  portfolio/src/components/cv/sections/Experience.tsx
  portfolio/src/components/cv/sections/Header.tsx
  portfolio/src/components/cv/sections/Interests.tsx
  portfolio/src/components/cv/sections/Intro.tsx
  portfolio/src/components/cv/sections/Outro.tsx
  portfolio/src/components/cv/sections/Skills.tsx
Due: build-portfolio

remove unused import
  portfolio/src/components/cv/sections/Intro.tsx
Due: build-portfolio

Update README.md
  README.md
Due: none

added future proofing for future roles
  portfolio/src/components/backstretch/SketchBackstretch.tsx
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Heading.tsx
Due: build-portfolio

fixing current role, when roles in future are present
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Experience.tsx
Due: build-portfolio

updated majority cargo packages to latest
  service/Cargo.lock
  service/Cargo.toml
Due: build-service

updated contentful crate deps, removed chrono from service crate
  service/Cargo.lock
  service/Cargo.toml
  service/contentful/Cargo.lock
  service/contentful/Cargo.toml
Due: build-service

updated readme
  README.md
Due: none
