Repository DanielWilliamClarke/Cujo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-service, build-portfolio

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            service/.* build-service true
            portfolio/.* build-portfolio true
          config-path: .circleci/workflows.yaml

All components use FC now use URQL useQuery now properly
  portfolio/package.json
  portfolio/src/App.tsx
  portfolio/src/Cujo.gql
  portfolio/src/components/shared/BlockReverseLoading.tsx
  portfolio/src/components/shared/DevIcon.tsx
  portfolio/src/components/shared/DynamicImage.tsx
  portfolio/src/components/shared/Heading.tsx
  portfolio/src/components/shared/Lanyard.tsx
  portfolio/src/components/shared/ProgressGauge.tsx
  portfolio/src/components/shared/ProgressProvider.tsx
  portfolio/src/components/shared/Section.tsx
  portfolio/src/components/shared/TriangleDivider.tsx
  portfolio/src/index.tsx
  portfolio/src/ioc.ts
  portfolio/src/services/CujoService.ts
Due: build-portfolio

minor refactoring
  portfolio/src/App.tsx
  portfolio/src/index.tsx
  portfolio/src/sketches/index.ts
  portfolio/src/sketches/pauseable_sketch.ts
Due: build-portfolio

fix prerender flag
  portfolio/src/index.tsx
Due: build-portfolio

update readme
  README.md
Due: none

memoized all variables and callbacks
  portfolio/src/components/Profile.tsx
  portfolio/src/components/backstretch/SketchBackstretch.tsx
  portfolio/src/components/blog/BlogPost.tsx
  portfolio/src/components/contact/Contact.tsx
  portfolio/src/components/cv/CVPreview.tsx
  portfolio/src/components/nav/NavPanel.tsx
  portfolio/src/components/nav/SharePanel.tsx
  portfolio/src/components/profile/About.tsx
  portfolio/src/components/profile/Technical.tsx
  portfolio/src/components/shared/DevIcon.tsx
  portfolio/src/components/shared/ProgressGauge.tsx
Due: build-portfolio

refactoring to remove undefined checks to simplify components
  portfolio/src/App.tsx
  portfolio/src/components/blog/Blog.tsx
  portfolio/src/components/shared/ProgressGauge.tsx
Due: build-portfolio

minor cleanup of front end made backend image smaller
  portfolio/src/App.tsx
  portfolio/src/index.tsx
  service/Dockerfile
Due: build-service, build-portfolio

moved some files around made profile and blogpost lazy to reduce number of files to load
  portfolio/src/App.tsx
  portfolio/src/components/App.scss
  portfolio/src/components/App.tsx
  portfolio/src/components/blog/BlogPost.tsx
  portfolio/src/components/profile/Profile.tsx
  portfolio/src/index.tsx
Due: build-portfolio

linting
  portfolio/src/components/profile/Profile.tsx
Due: build-portfolio

now gzip up bundles, and set nginx to decompress bundles in flight
  portfolio/craco.config.js
  portfolio/nginx/nginx.conf
  portfolio/package.json
  portfolio/src/components/profile/Profile.tsx
Due: build-portfolio

fix dependabot secuirty issue
  service/Cargo.lock
  service/Cargo.toml
  service/contentful/Cargo.toml
Due: build-service

fix security warning
  service/contentful/Cargo.lock
Due: build-service

trigger portfolio build
  portfolio/src/index.tsx
Due: build-portfolio

removed react icons as its treeshaking was not working now use styled icons
  portfolio/package.json
  portfolio/src/components/contact/Contact.scss
  portfolio/src/components/nav/NavPanel.scss
  portfolio/src/components/profile/Projects.scss
  portfolio/src/components/profile/Technical.scss
  portfolio/src/components/shared/Portfolio.scss
  portfolio/src/components/shared/Section.tsx
  portfolio/src/services/IconService.ts
Due: build-portfolio

Update readme
  README.md
Due: none

increase resource class to speed up the build
  .circleci/workflows.yaml
Due: none

trigger build
  portfolio/src/index.tsx
Due: build-portfolio

fixed pdfjs worker versioning refactored sample method
  portfolio/src/components/cv/CVExport.tsx
  portfolio/src/components/cv/CVPreview.tsx
  portfolio/src/global.d.ts
  portfolio/src/sketches/hypercube.ts
  portfolio/src/sketches/index.ts
  portfolio/src/sketches/phylotaxis.ts
Due: build-portfolio

update boids so it looks like it does when fully zoomed out in the browser also the bank of words is now retrieved from cv data and shuffled making it more dynamic
  portfolio/src/components/backstretch/SketchBackstretch.tsx
  portfolio/src/sketches/boids.ts
  portfolio/src/sketches/index.ts
Due: build-portfolio

fixed unused things
  portfolio/src/sketches/boids.ts
  portfolio/src/sketches/index.ts
Due: build-portfolio

added nvmrc fixed react-pdf issue with workaround
  portfolio/.nvmrc
  portfolio/package.json
Due: build-portfolio

update docker node image
  portfolio/Dockerfile
Due: build-portfolio

Light mode switch implemented
  portfolio/package.json
  portfolio/src/assets/theme_toggle.json
  portfolio/src/components/App.tsx
  portfolio/src/components/backstretch/Copyright.scss
  portfolio/src/components/backstretch/ScrollIndicator.scss
  portfolio/src/components/backstretch/SketchBackstretch.scss
  portfolio/src/components/blog/Blog.scss
  portfolio/src/components/blog/BlogPost.scss
  portfolio/src/components/contact/Contact.scss
  portfolio/src/components/contact/Contact.tsx
  portfolio/src/components/cv/CVPreview.scss
  portfolio/src/components/nav/NavPanel.scss
  portfolio/src/components/nav/NavPanel.tsx
  portfolio/src/components/profile/Experience.scss
  portfolio/src/components/profile/Technical.scss
  portfolio/src/components/shared/BlockReverseLoading.scss
  portfolio/src/components/shared/Palette.scss
  portfolio/src/components/shared/Portfolio.scss
  portfolio/src/components/shared/TriangleDivider.scss
  portfolio/src/components/shared/style.module.scss
  portfolio/src/components/theme/ThemeContext.tsx
  portfolio/src/components/theme/ThemeProvider.tsx
  portfolio/src/components/theme/ThemeSetter.tsx
Due: build-portfolio

added theme setter scss for clearer interaction
  portfolio/src/components/theme/ThemeSetter.scss
  portfolio/src/components/theme/ThemeSetter.tsx
Due: build-portfolio

removed decorators
  portfolio/src/services/ContactService.ts
  portfolio/src/services/DateService.ts
  portfolio/src/services/IconService.ts
Due: build-portfolio

replacing injectable
  portfolio/package.json
  portfolio/src/services/ContactService.ts
  portfolio/src/services/DateService.ts
  portfolio/src/services/IconService.ts
Due: build-portfolio

replacing injectable
  .circleci/workflows.yaml
  portfolio/src/services/ContactService.ts
  portfolio/src/services/DateService.ts
  portfolio/src/services/IconService.ts
Due: build-portfolio
