Repository DanielWilliamClarke/Cujo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-service, build-portfolio

quick fix to rename container class name
  portfolio/src/components/shared/BlockReverseLoading.scss
  portfolio/src/components/shared/BlockReverseLoading.tsx
Due: build-portfolio

just refactoring app.tsx
  portfolio/src/App.tsx
Due: build-portfolio

modified angle and height of boxes
  portfolio/src/sketches/boxes.ts
Due: build-portfolio

removed unused import
  portfolio/src/App.tsx
Due: build-portfolio

add logrocket
  portfolio/package.json
  portfolio/src/index.tsx
Due: build-portfolio

add log rocket react
  portfolio/package.json
  portfolio/src/index.tsx
Due: build-portfolio

added types
  portfolio/package.json
Due: build-portfolio

Replace Archidekt icon name
  portfolio/src/services/IconService.ts
Due: build-portfolio

minor code splitting changes to try to improve performance
  portfolio/package.json
  portfolio/src/App.tsx
  portfolio/src/index.tsx
Due: build-portfolio

add bench marking to readers
  service/src/blog/blog_reader.rs
  service/src/cv/cv_reader.rs
Due: build-service

change orb version
  .circleci/workflows.yaml
Due: none

trigger build
  portfolio/src/components/backstretch/Copyright.tsx
Due: build-portfolio

turning off emitDecoratorMetadata
  portfolio/tsconfig.json
Due: build-portfolio

add some learning to readme
  README.md
Due: none

fix date range months
  README.md
  portfolio/src/services/DateService.ts
Due: build-portfolio

Adding new CV pdf generator
  README.md
  portfolio/package.json
  portfolio/src/App.tsx
  portfolio/src/components/contact/Contact.tsx
  portfolio/src/components/cv/CV.scss
  portfolio/src/components/cv/CV.tsx
  portfolio/src/components/cv/sections/Heading.tsx
  portfolio/src/components/cv/sections/Intro.tsx
  portfolio/src/components/nav/NavPanel.tsx
  portfolio/src/services/DateService.ts
  portfolio/src/services/IconService.ts
Due: build-portfolio

implemented cv route to download cv instantly
  portfolio/src/App.tsx
  portfolio/src/components/cv/CVExport.tsx
Due: build-portfolio

fix cv renderer for hi dpi screens
  portfolio/src/components/cv/CV.tsx
Due: build-portfolio

Update to CV intro section
  portfolio/src/components/cv/CVExport.tsx
  portfolio/src/components/cv/sections/Intro.tsx
  portfolio/src/components/shared/style.module.scss
Due: build-portfolio

update readme
  README.md
Due: none

Path conditions:
  build-service: any of: service/.*
  build-portfolio: any of: portfolio/.*
