Repository DanielWilliamClarke/Cujo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-service, build-portfolio

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            service/.* build-service true
            portfolio/.* build-portfolio true
          config-path: .circleci/workflows.yaml

made technical kitchen sink easier to view
  portfolio/src/components/profile/Technical.scss
  portfolio/src/components/profile/Technical.tsx
Due: build-portfolio

Add margin for skills container on small screens
  portfolio/src/components/profile/Technical.scss
Due: build-portfolio

sasslint and change skills padding
  portfolio/src/components/backstretch/Copyright.scss
  portfolio/src/components/backstretch/ScrollIndicator.scss
  portfolio/src/components/backstretch/SketchBackstretch.scss
  portfolio/src/components/blog/Blog.scss
  portfolio/src/components/blog/BlogPost.scss
  portfolio/src/components/contact/Contact.scss
  portfolio/src/components/nav/NavPanel.scss
  portfolio/src/components/nav/SharePanel.scss
  portfolio/src/components/profile/About.scss
  portfolio/src/components/profile/Projects.scss
  portfolio/src/components/profile/Technical.scss
  portfolio/src/components/shared/BlockReverseLoading.scss
  portfolio/src/components/shared/Lanyard.scss
  portfolio/src/components/shared/Palette.scss
  portfolio/src/components/shared/Portfolio.scss
  portfolio/src/components/shared/TriangleDivider.scss
  portfolio/src/components/shared/style.module.scss
  portfolio/src/components/theme/ThemeSetter.scss
  portfolio/src/index.scss
Due: build-portfolio

Rename profile -> contact changes cv logo to a paper plane disables boxes sketch on safari as its super slow
  portfolio/package.json
  portfolio/src/components/contact/Contact.scss
  portfolio/src/components/contact/Contact.tsx
  portfolio/src/components/cv/CVPreview.tsx
  portfolio/src/components/nav/NavPanel.tsx
  portfolio/src/services/IconService.ts
  portfolio/src/sketches/boxes.ts
  portfolio/src/sketches/index.ts
Due: build-portfolio

Added start icons to timelines
  portfolio/src/components/profile/Education.tsx
  portfolio/src/components/profile/Experience.tsx
  portfolio/src/services/IconService.ts
Due: build-portfolio

set work logo brightness on light theme
  portfolio/src/components/shared/Palette.scss
Due: build-portfolio

sharpened up about page
  portfolio/src/components/profile/About.scss
  portfolio/src/components/profile/About.tsx
Due: build-portfolio

Removed zoom
  portfolio/src/components/profile/About.tsx
Due: build-portfolio

added hide from cv attr to work, fixed up some cv headers for flexibility
  portfolio/src/Cujo.gql
  portfolio/src/components/cv/sections/CV.tsx
  portfolio/src/components/cv/sections/Interests.tsx
  portfolio/src/components/cv/sections/Intro.tsx
  portfolio/src/model/CVModel.ts
  service/src/cv/model.rs
Due: build-service, build-portfolio

more about UX refactoring
  portfolio/src/components/profile/About.scss
  portfolio/src/components/profile/About.tsx
Due: build-portfolio

Fixed boids to stop jumping between angles
  portfolio/src/sketches/boids.ts
Due: build-portfolio

enabled cors for local development with ngnix proxy added iconImage to devicon for further flexibility
  service/Cargo.lock
  service/Cargo.toml
  service/src/cv/model.rs
  service/src/main.rs
Due: build-service

indentation
  service/src/main.rs
Due: build-service

allow all origins
  service/src/main.rs
Due: build-service

Some more fixes for portfolio razzle
  portfolio_razzle/Dockerfile
  portfolio_razzle/package.json
  portfolio_razzle/razzle.config.js
  portfolio_razzle/src/App.tsx
  portfolio_razzle/src/components/cv/CVPreview.tsx
  portfolio_razzle/src/config.ts
  portfolio_razzle/src/server.tsx
Due: none

razzle portfolio working with dev docker compose now the cujo service needs to be exposed directly, since we wont use ngnix to proxy
  dev.compose.yaml
  portfolio_razzle/Dockerfile
  portfolio_razzle/package.json
Due: none

Added reading list to backend graphql
  service/src/cv/cv_reader.rs
  service/src/cv/mod.rs
  service/src/cv/model.rs
Due: build-service

added reading list to graphql query
  portfolio_razzle/src/Cujo.gql
  portfolio_razzle/src/model/CVModel.ts
Due: none

updated docker file
  portfolio_razzle/Dockerfile
  portfolio_razzle/package.json
Due: none

removed console log
  portfolio_razzle/src/Cujo.tsx
Due: none

Added a service proxy so we don't need to expose cujo service to the internet directly updated docker compose files to match
  dev.compose.yaml
  portfolio_razzle/src/App.tsx
  portfolio_razzle/src/config.ts
  portfolio_razzle/src/server.tsx
  prod.compose.yaml
Due: none

Added proxy for backend service correctly now compress client files
  portfolio_razzle/package.json
  portfolio_razzle/razzle.config.js
  portfolio_razzle/src/App.tsx
  portfolio_razzle/src/Cujo.tsx
  portfolio_razzle/src/components/App.tsx
  portfolio_razzle/src/server.tsx
Due: none

Added a proxy to the assets directory added new env var to compose files boids now works again
  dev.compose.yaml
  portfolio_razzle/razzle.config.js
  portfolio_razzle/src/global.d.ts
  portfolio_razzle/src/server.tsx
  portfolio_razzle/src/sketches/boids.ts
  portfolio_razzle/src/sketches/index.ts
  prod.compose.yaml
Due: none

fixed up linting for now
  portfolio_razzle/.eslintrc.js
  portfolio_razzle/src/client.tsx
  portfolio_razzle/src/components/contact/Contact.tsx
  portfolio_razzle/src/components/profile/Profile.tsx
  portfolio_razzle/src/components/profile/Projects.tsx
  portfolio_razzle/src/server.tsx
Due: none

fixed linting on razzle file
  portfolio_razzle/razzle.config.js
Due: none

fixed issue with eslint
  portfolio_razzle/.eslintrc.js
Due: none

fixed file properly this time
  portfolio_razzle/.eslintrc.js
Due: none

removing things
  portfolio_next/src/Cujo.tsx
  portfolio_next/src/components/blog/BlogPost.tsx
Due: none

fixed devicons
  portfolio_next/package.json
  portfolio_next/pages/_app.tsx
Due: none

prod build working
  portfolio_next/.eslintrc.json
  portfolio_next/package.json
  portfolio_next/src/components/backstretch/SketchBackstretch.tsx
  portfolio_next/src/components/blog/BlogPost.tsx
Due: none

added nvmrc fixed up favicon
  portfolio_next/.nvmrc
  portfolio_next/pages/cv.tsx
  portfolio_next/public/android-chrome-192x192.png
  portfolio_next/public/android-chrome-512x512.png
  portfolio_next/public/apple-touch-icon.png
  portfolio_next/public/favicon.ico
  portfolio_next/public/vercel.svg
Due: none

remove unused scss
  portfolio_next/styles/Home.module.css
  portfolio_next/styles/globals.css
Due: none

fixed a couple of issues with syntax highlighter and component ordering
  portfolio_next/src/components/blog/BlogPost.tsx
Due: none

now use incremental static regeneration
  portfolio_next/pages/blog.tsx
  portfolio_next/pages/blog/[pid].tsx
  portfolio_next/pages/blog/index.tsx
  portfolio_next/pages/cv.tsx
  portfolio_next/pages/index.tsx
  portfolio_next/src/Cujo.tsx
  portfolio_next/src/CujoQuery.ts
  portfolio_next/src/sketches/.waves.ts.swp
Due: none

fixed simplex noise error
  portfolio_next/src/sketches/waves.ts
Due: none
